*.log
*.DS_Store
venv/
.env
__pycache__/
*.pyc
*.out
*.pkl
venv/
/uni2ts
*.zip
# Ignore all CSV files
*.csv
# But not these ones
!/analysis/future_data/confidence_interval_analysis/data_2023_2025_chronos_confidence_interval.csv
!/data/data_processed.csv
!/data/data.csv
*.png
*.xlsx

